<div class="contact_form-wrapper">
  <h1>GET IN TOUCH WITH US</h1>

  <form class="contact_form" action="">
    <div class="col1">
      <div class="inputfield">
        <em class="fa fa-user" aria-hidden="true"></em>
        <label for="">
          Name:</label>
        <input type="text" name="" value="" />
      </div>
      <div class="inputfield">
        <em class="fa fa-phone" aria-hidden="true"></em>
        <label for="">
          Phone:</label>
        <input type="text" name="" value="" />
      </div>
      <div class="inputfield">
        <em class="fa fa-envelope" aria-hidden="true"></em>
        <label for="">
          Email:</label>
        <input type="text" name="" value="" />
      </div>
    </div>
    <div class="col2">
      <div class="inputfield">
        <em class="fa fa-comments" aria-hidden="true"></em>
        <label for="">
            Message:</label>
        <textarea name="name"></textarea>
      </div>
      <button type="submit" name="submit" class="btn-standart">submit</button>
        <div class="inputfield">
      </div>
    </div>
  </form>
</div>
