<section class="testimonials">
  <div class="container">
    <h1>OUR CLIENT SAYS</h1>

    <h3>
      What our customers are saying...
    </h3>
    <img src="img/house_testimonials.png" alt="">
    <ul class="testimonial-list">
      <li class="testimonial-list__item">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
          hendrerit pretium nulla, nec facilisis nulla fermentum ac. Morbi ac
          faucibus lectus, eu porttitor mauris. Aliquam mattis augue nibh, ac
          malesuada nisi pulvinar ut. facilisis nulla Morbi ac faucibus lectus,
          eu porttitor mauris. Aliquam mattis augue nibh, ac malesuada nisi
          pulvinar ut.
        </p>
        <br>
        <span>Client Name</span>
        <span>|</span>
        <span>MARCH 28, 2018</span>
      </li>
      <li>
        <p>
          What our customers are saying... Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Proin hendrerit pretium nulla, nec
          facilisis nulla fermentum ac. Morbi ac faucibus lectus, eu porttitor
          mauris. Aliquam mattis augue nibh, ac malesuada nisi pulvinar ut.
          facilisis nulla Morbi ac faucibus lectus, eu porttitor mauris. Aliquam
          mattis augue nibh, ac malesuada nisi pulvinar ut.
        </p>
        <br>
        <span>Client Name</span>
        <span>|</span>
        <span>MARCH 28, 2018</span>
      </li>
    </ul>

    <a href="/" class="btn-standart btn-standart_size_big">read more</a>
  </div>
</section>
