<section class="testimonials">
  <div class="container">
    <h1>Get in touch with us</h1>

    What our customers are saying...
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin hendrerit pretium nulla, nec facilisis nulla fermentum ac. Morbi ac faucibus lectus, eu porttitor mauris. Aliquam mattis augue nibh, ac malesuada nisi pulvinar ut.  facilisis nulla Morbi ac faucibus lectus, eu porttitor mauris. Aliquam mattis augue nibh, ac malesuada nisi pulvinar ut.

    Client Name  |    MARCH 28, 2018

    <div class="btn-standart">read more</div>
  </div>
</section>
