<footer>
  <div class="container">
    <div class="menu-row">
      <div class="menu-row-item">
        <div class="title">TITLE</div>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Branches</a>
            <ul>
              <li><a href="#">Link 1</a></li>
              <li><a href="#">Link 2</a></li>
            </ul>
          </li>
          <li><a href="#">Apply Now</a></li>
          <li><a href="#">About Us</a></li>
        </ul>
      </div>
      <div class="menu-row-item">
        <div class="title">TITLE</div>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Branches</a>
        </ul>
      </div>
      <div class="menu-row-item">
        <div class="title">TITLE</div>
        <ul>

        </ul>
      </div>
      <div class="menu-row-item">
        <div class="title">TITLE</div>
        <ul>

        </ul>
      </div>
    </div>
  </div>
</footer>
<div class="copyright">
  <div class="container">
    2018  All Rights Reserved
  </div>
</div>
