/* fonts and sizes */
html {
  font-size: 100%;
}

body {
  line-height: 1.8;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  margin-top: 0;
  // margin-bottom: 1em;
  margin-bottom: 0;
  font-weight: 900;
  color: $dark;
  line-height: 1.4;
}
h1,
h2{
  color: $theme1;
}

h1 {
  // font-size: 2.35rem;
  font-size: calc(1rem * 1.235* 1.235* 1.235* 1.235* 1.235);
}

h2 {
  // font-size: 1.8rem;
  font-size: calc(1rem * 1.235* 1.235* 1.235* 1.235);
}

h3 {
  // font-size: 1.5rem;
  font-size: calc(1rem * 1.235* 1.235* 1.235);
}

h4 {
  // font-size: 1.235rem;
  font-size: calc(1rem * 1.235* 1.235);
}

h5 {
  // font-size: 1.1rem;
  font-size: calc(1rem * 1.235);
}

h6 {
  font-size: 1rem;
}
