$red: #d94a4a;
$green: #2bb122;
$blue: #4C71C9;
$orange: #ff8610;

// $dark: #212635;
// $dark: #4f5052;
$dark: #636466;
$grey: #838B98;
$light: #ffffff;
$light1: #f0f0f0;


$theme1:#0A50A3;
$theme2:#19397d;
$theme3:#FDFDFD;
$theme4:#636466;



